<table>
 <tr>
  <th>Poster</th>
  <th>Title</th>
  <th>Genres</th>
  <th>Stars</th>
  <th>Action</th>
 </tr>
 <% @movies.each do |movie| %>
 <tr>
  <td><img src="<%= movie.image %>" alt="No poster found." class="card-img-top"></td>
  <td><%= movie.title %></td>
  <td><%= fetch_name(movie.genres) %></td>
  <td><%= fetch_name(movie.stars) %></td>
  <td id="<%= follow_link_id(movie) %>">
    <%= render 'follows_links', object: movie %>
  <td>  
 </tr>
 <% end %>
</table>
<%= will_paginate @movies, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
